/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
*{
  box-sizing: border-box;
}
header,footer{
  border: 2px solid black;
  clear: both;
  height: 100px;
  background-color: green;
}
section{
  border: 2px solid black;
  height: 300px;
  width: 33.3333%;
  float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 600px) {
  section{
      background: green;
      width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 900px){
  section{
      background: blue;
      width: 50%;
  }
  section.bottomrow{
    background: blue;
    width: 100%;
}
}
@media (min-width: 901px) and (max-width: 1500px){
  section{
      background: orange;
      width: 33.3333%;
  }
}