/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
h3 {
  list-style: disc;
  padding-left: 1em; /* add some left padding to align with the bullet */
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
