<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Kahn Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<ul class="left-Nav">
					<li><a href="#"> Courses</a></li>
					<li>
						<form action="#">
							<input type="text">
						</form>
					</li>
				</ul>
				<div class="middle-Nav">
					<img src="logo.png" alt="Kahn Logo">
					<h2>Khan Academy</h2>
				</div>
				<ul class="right-Nav">
					<li><a href="#">Donate</a></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Sign up</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<section class="m-left">
				<img src="Kahn.png" alt="Kids on Computers">
			</section>
			<section class="m-right">
				<h1>For every student, every classroom <span> Real results.</span> </h1>
				<p>We're a nonprofit with the mission to provide a free, world-class education for anyone, anywhere.
				</p>
				<ul class="buttons">
					<li><a href="#">Learners</a></li>
					<li><a href="#">Teachers</a></li>
					<li><a href="#">Districts</a></li>
					<li><a href="#">Parents</a></li>
				</ul>
			</section>
		</main>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
