/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body *{
  text-decoration: none;
  font-family: sans-serif;
}
body a{
  color: inherit;
}
html{
  font-size: 62.5%;
  background: #F5F9FC;
}


/******************************************
/* LAYOUT
/*******************************************/

/* nav */
header {
  position: relative;
  background: #F5F9FC;
  padding: 1px 30px;
  font-size:1.6rem;
  font-weight: bold;
  margin-bottom: 50px;
}
header h2{
  float: left;
  margin: 0;
}
header ul {
  position: absolute;
  list-style: none;
  left: 25%;
  right: 25%;
  width: 50%;

}
ul > *{
  color: gray;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 400;
}
body header > h2 + ul + a{
  float: right;
}

/* body */
.top,.middle,.bottom{
  width: 100%;
  float: left;
  padding-left: 10%;
}
.hero > *{
  float: left;
  width: 45%;
  height: 450px;
}
.top span{
  color: gray;
  font-weight: bold;
}
.top h1{
  font-size: 3rem;
  color: #304659;
}
.left > section > *{
  float: left;
}
.left > section > div{
  width: 80%;
  padding: 10px;
  background:#E1E9F0;
  color: gray;
}
.left > section > a{
  width: 20%;
  padding: 10px;
  color: white;
  text-align: center;
  background: #304659;
}
.button{
  color: white;
  background: #304659;
  padding: 10px;
}
.left p{
  margin-top: 65px ;
  clear: left;
  line-height: 2.4rem;
}

.middle> *{
float: left;
width: 25%;
padding-bottom: 50px;
}
.middle a{
  font-weight: bold;
  font-size: 1.1rem;
}
.bottom{
  background: white;
  width: 100%;
  padding-bottom: 100px;
}
.bottom h2{
  font-size: 3rem;
  color: #304659;  
}
.bottom h2, .bottom p{
  width: 50%;
  line-height: 2.4rem;
}
.bottom p{
  color: gray;
}
@media screen and (max-width: 900px){

  .hero > *{
    width: 80%;
    height: 450px;
  }
  header{
    border-bottom: 1px solid gray;
  }
  .left > section > *{
    float: left;
  }
  .left > section > div{
    width: 100%;
    margin-bottom: 1rem;
  }
  .left > section > a{
    width: 100%;
  }
  .top h1{
    font-size: 1.5rem;
  }
  .right img{
    width: 100%;
  }
  header h2{
    width: 100%;
    text-align: center;
  }
  header ul, header a {
    display:  none;
  }
  ul > *{
    color: gray;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
  }
  body header > h2 + ul + a{
    float: right;
  }
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
